/* .karthik{

   
    animation-duration: 7s;
    animation-name: kar;
    animation-iteration-count: infinite
}
@keyframes kar{
    0%{
        color:white;
        font-size:0px;
    }
    25%{
        color:blue;
        font-size: x-large;
    }
    50%{
        color: blueviolet;
        font-size: medium;
    }
    74%{
        color: brown;
        font-size: xx-large;
    }

    100%{
        color: blueviolet;
        font-size: larger;
    } */
.ro{
    animation-duration: 5s;
     animation-iteration-count: infinite; 
    animation-name: kar;
    margin-left: 540px;
    margin-top: 140px;
    animation-direction: alternate;
border-top-left-radius: 50px;
border-bottom-right-radius: 40px;
border: 2px solid;

    
}




@keyframes kar{
    0%{
        height: 0px;
        width: 0px;
        transform: rotate(0deg);
        background-color:red;
    }
     25%{
        height: 100px;
        width: 100px;
        transform: rotate(90deg);
       background-color: blue;
    }
     50%{
        height: 200px;
        width: 200px;
        transform: rotate(180deg);
        background-color: brown;
    }
     75%{
        height: 300px;
        width: 300px;
        transform: rotate(270deg);
        background-color: blueviolet;
    }
     100%{
        height: 400px;
        width: 400px;
        transform: rotate(350deg);
        background-color: black;
    }
}
.ro2{
      animation-duration: 5s;
     animation-iteration-count: infinite; 
    animation-name: kart;
    animation-direction: normal;
border-top-left-radius: 50px;
border-bottom-right-radius: 40px;
border: 2px solid;
margin-left: 180px;
}
@keyframes kart{
    0%{
        height: 0px;
        width: 0px;
        transform: rotate(0deg);
        background-color:red;
    }
     25%{
        height: 100px;
        width: 100px;
        transform: rotate(90deg);
       background-color: aqua;
    }
     50%{
        height: 200px;
        width: 200px;
        transform: rotate(180deg);
        background-color: blueviolet;
    }
     75%{
        height: 300px;
        width: 300px;
        transform: rotate(270deg);
        background-color: blueviolet;
    }
     100%{
        height: 400px;
        width: 400px;
        transform: rotate(350deg);
        background-color: black;
     }
    }