 body {
    background-color: gray; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}  
 .form-container {
    background-color:aqua;
    padding: 40px;
    width: 500px;
    text-align: center;
} 


h2 {
    margin-bottom: 30px;
 }
 

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
 

label {
    width: 150px;
    text-align: left;
    font-weight: normal;
}
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="date"], 
input[type="tel"], 
textarea {
    flex: 1; 
    padding: 5px;
    border: 1px solid #999;
}
.change{
    
}
