.container{
    background-image: url(./silhouette-lonely-tree-sunset-hill_795422-15983.avif);
    background-size: cover;
    background-repeat: no-repeat;
}
.nav {
    display: flex;
    justify-content: space-between;
    
   
}
.nav h1{
    color: orangered;
}

 .link{
    margin-top: 29px;
}
.link a{
    color: white;
    margin-right:90px;
    text-decoration: none; */
}
a:hover{
    color: red;
}