/* name is descendant selector.how its work it check all child and grand child for example you could use 
p tage child and grand child.you use style p it apply both child and grand child */
.na p{
color: blue;
}
/* name is adjacent selector.how its work it only what do you want require. you just use the selector
it only select direct child like class inside*/
.adjacent>p,h2{
    color: aqua;
}
/* name is immedate sibling .how its work,the div is over i mean closed. after the element which one is 
first it work  and second not working only first then again div is closed and after one element it work  */
.ad+p{
    color: violet;

}
/* sub */
.sub~p{
    color: darkorange;
}
/* this is universal selector.how its work this selector used style will be apply all element like this  */
/* *{
    color: blue;
} */
/* the name is attribute selector.how its work this will be work attribute name you can use any attribute but
its only for attribute */
a[href],[href]{
    background-color: aqua;
    /*this is attribute= value its used.if your use this you dont to create class or id you just use att
    and value you can call css and styles like this ! */
}
/* name is attr=value .how its work,its work use attribute and value can you change this style instead naming
such as id and class you can use attribute and value can change style   */
input[type="number"]{
    color: darkred;
}
/* its is exponentional symbol it use start value like https or some thing  but it consider starting letter
like this h */
a[href^="h"]{
    color: black;
    font-size: xx-large;
}
/*  *it is dollar symbol$.how its work .it used in attributes it will work to ending value like some
/* last msg like "karthi"k" like this in the way it work */
a[href$="t"]{
    color: brown;
}
/* name is contain value .how its work it work with class and you already specifing name so the syntax:
class*=class name that is syntax. it will check all  name. samename or letteris appread anything*/
[class*="w"]{
    color:red
}
h5:hover{
     color:darkgoldenrod; 
}


ol li::marker{
    color: blue;
} 
.dhana::before{
    content:url(./sigma-male-face-sigma-male.webp);
}
