.border img{
    border: 7px solid ;
    height: 500px;
    padding: 2px;
}
.photo{
    margin-top: 40px;
    margin-left: 350px;
    border: 2px solid;
    width:500px;
    padding:50px;
    height: 500px;
}
.photo h3,h5{
    font-family: fantasy;
    text-align: center;
    background-color: aqua;
}
.photo p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.photo button{
font-family: cursive;
background-color:aquamarine;
margin-left: 210px;
} 
.nd{
margin-top: 40px;
margin-left: 350px;
border: 2px solid;
width:600px; 
height:700px ;
}
.nd img{
    padding-left: 50px;
    padding-top: 50px;
}

.nd button{
    margin-left: 260px;
    background-color: darkturquoise;
}
.rd{
border:2px solid;
width:500px;
height:500px;
padding: 50px;
margin-top:40px;
margin-left:349px;
}
.rd button{
    background-color: cyan;
    margin-left: 210px;
}